click==8.0.1
colorama==0.4.4
dnspython==2.1.0
Flask==2.0.1
Flask-WTF==0.15.1
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pymongo==3.11.4
pyodbc==4.0.30
redis==3.5.3
typing-extensions==3.10.0.0
Werkzeug==2.0.1
WTForms==2.3.3
zipp==3.4.1
nltk